In [1]:
import pandas as pd
import numpy as np
from pandas import datetime
from matplotlib import pyplot as plt

"""
Load AirQualityUCI Data
"""

def parser(x):
    return datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

input_file = './data/AirQualityUCI_refined.csv'

df = pd.read_csv(input_file,
                 index_col=[0],
                 parse_dates=[0],
                 date_parser=parser)

df.head()

<ipython-input-1-e23ecb89d3de>:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  from pandas import datetime

,CO(GT),PT08.S1(CO),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),RH,AH,C6H6(GT)
Datetime,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.0,1046.0,166.0,1056.0,113.0,1692.0,1268.0,48.9,0.7578,11.9
2004-03-10 19:00:00,2.0,1292.0,955.0,103.0,1174.0,92.0,1559.0,972.0,47.7,0.7255,9.4
2004-03-10 20:00:00,2.2,1402.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,54.0,0.7502,9.0
2004-03-10 21:00:00,2.2,1376.0,948.0,172.0,1092.0,122.0,1584.0,1203.0,60.0,0.7867,9.2
2004-03-10 22:00:00,1.6,1272.0,836.0,131.0,1205.0,116.0,1490.0,1110.0,59.6,0.7888,6.5

In [2]:
# Visualization setup
%matplotlib
from matplotlib import pyplot as plt
import seaborn; seaborn.set()  # set plot styles
%config InlineBackend.figure_format = 'svg'
plt.rcParams['figure.figsize'] = [10, 5]
plt.ion() # enable the interactive mode

Using matplotlib backend: Qt5Agg

In [4]:
pt = df['PT08.S3(NOx)'].copy()
pt.interpolate(inplace=True)
pt.plot()

In [5]:
q1 = pt.quantile(0.25)
median = pt.quantile(0.5)    
q3 = pt.quantile(0.75)          
print(q1,median,q3)

654.0 804.0 968.0

In [6]:
iqr=q3-q1
upper_fence=q3+1.5*(iqr)
lower_fence=q1-1.5*(iqr)
print(iqr,upper_fence,lower_fence)

314.0 1439.0 183.0

In [8]:
outliers=pt.loc[(pt>upper_fence)|(pt<lower_fence)]
print(outliers)

Datetime
2004-03-11 00:00:00    1462.0
2004-03-11 01:00:00    1453.0
2004-03-11 02:00:00    1579.0
2004-03-11 03:00:00    1705.0
2004-03-11 04:00:00    1818.0
                        ...
2005-03-01 03:00:00    1791.0
2005-03-01 04:00:00    1804.0
2005-03-01 05:00:00    1727.0
2005-03-01 06:00:00    1677.0
2005-03-07 04:00:00    1490.0
Name: PT08.S3(NOx), Length: 239, dtype: float64

In [10]:
mask=pt.index.isin(outliers.index)
pt[:50]

Datetime
2004-03-10 18:00:00    1056.0
2004-03-10 19:00:00    1174.0
2004-03-10 20:00:00    1140.0
2004-03-10 21:00:00    1092.0
2004-03-10 22:00:00    1205.0
2004-03-10 23:00:00    1337.0
2004-03-11 00:00:00    1462.0
2004-03-11 01:00:00    1453.0
2004-03-11 02:00:00    1579.0
2004-03-11 03:00:00    1705.0
2004-03-11 04:00:00    1818.0
2004-03-11 05:00:00    1918.0
2004-03-11 06:00:00    1738.0
2004-03-11 07:00:00    1490.0
2004-03-11 08:00:00    1136.0
2004-03-11 09:00:00    1079.0
2004-03-11 10:00:00    1218.0
2004-03-11 11:00:00    1328.0
2004-03-11 12:00:00    1301.0
2004-03-11 13:00:00    1162.0
2004-03-11 14:00:00     983.0
2004-03-11 15:00:00    1082.0
2004-03-11 16:00:00    1103.0
2004-03-11 17:00:00    1008.0
2004-03-11 18:00:00     799.0
2004-03-11 19:00:00     702.0
2004-03-11 20:00:00     743.0
2004-03-11 21:00:00     957.0
2004-03-11 22:00:00    1325.0
2004-03-11 23:00:00    1565.0
2004-03-12 00:00:00    1254.0
2004-03-12 01:00:00    1247.0
2004-03-12 02:00:00    1396.0
2004-03-12 03:00:00    1680.0
2004-03-12 04:00:00    1893.0
2004-03-12 05:00:00    1895.0
2004-03-12 06:00:00    1685.0
2004-03-12 07:00:00    1387.0
2004-03-12 08:00:00     897.0
2004-03-12 09:00:00     767.0
2004-03-12 10:00:00     912.0
2004-03-12 11:00:00     969.0
2004-03-12 12:00:00    1035.0
2004-03-12 13:00:00    1008.0
2004-03-12 14:00:00     949.0
2004-03-12 15:00:00     922.0
2004-03-12 16:00:00     954.0
2004-03-12 17:00:00    1006.0
2004-03-12 18:00:00     812.0
2004-03-12 19:00:00     821.0
Name: PT08.S3(NOx), dtype: float64

In [11]:
pt[~mask]

Datetime
2004-03-10 18:00:00    1056.0
2004-03-10 19:00:00    1174.0
2004-03-10 20:00:00    1140.0
2004-03-10 21:00:00    1092.0
2004-03-10 22:00:00    1205.0
                        ...
2005-04-04 10:00:00     539.0
2005-04-04 11:00:00     604.0
2005-04-04 12:00:00     603.0
2005-04-04 13:00:00     702.0
2005-04-04 14:00:00     654.0
Name: PT08.S3(NOx), Length: 9118, dtype: float64

In [14]:
plt.plot(pt[~mask], label='normal', color='blue',
    marker='o', markersize=3, linestyle='None')
plt.plot(outliers, label='outliers', color='red',
    marker='x', markersize=3, linestyle='None')
plt.legend(loc='best')

In [15]:
pt_refined=pt.copy()
pt_refined[mask]=np.nan
print(pt_refined[mask])

Datetime
2004-03-11 00:00:00   NaN
2004-03-11 01:00:00   NaN
2004-03-11 02:00:00   NaN
2004-03-11 03:00:00   NaN
2004-03-11 04:00:00   NaN
                       ..
2005-03-01 03:00:00   NaN
2005-03-01 04:00:00   NaN
2005-03-01 05:00:00   NaN
2005-03-01 06:00:00   NaN
2005-03-07 04:00:00   NaN
Name: PT08.S3(NOx), Length: 239, dtype: float64

In [16]:
pt_refined.interpolate(inplace=True)
pt_refined.plot()

In [18]:
import seaborn as sns
sns.distplot(pt)

C:\Users\user\anaconda3\lib\site-packages\seaborn\distributions.py:2557: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

In [19]:
mean=np.mean(pt)
std=np.std(pt)
print(mean,std)

832.7588970823982 255.69616900657363

In [20]:
outliers=[]
thres=3

for i in pt:
    z_score=(i-mean)/std
    if (np.abs(z_score)>thres):
        print(z_score)
        outliers.append(i)

3.4112404042126165
3.8531711552247483
4.244260315412475
3.5402998270745667
3.3134681141656848
4.146488025365544
4.154309808569298
3.3330225721750715
3.0788146180530487
3.833616697215362
3.6106958759083576
3.7280226239646757
3.395596837805108
4.205151399393703
3.419062187416371
4.310745472644389
3.0162403524230124
3.168765124896226
3.051438376839908
3.387775054601353
3.5833196346952167
3.8844582880397667
3.4112404042126165
3.0592601600436624
3.8688147216322575
4.2638147734218625
3.6106958759083576
3.051438376839908
3.716289949159044
3.462081995037021
3.4777255614445304
3.8844582880397667
3.137477992081208
3.098369076062435
3.8101513476040982
4.189507832986194
3.794507781196589
3.763220648381571
4.334210822255653
4.240349423810598
3.4034186210088624
3.6146067675102347
3.254804740137526
3.0045076776173807
3.2469829569337714
3.168765124896226
3.6693592499365164
4.8660920801109615
4.807428706082803
4.424161329098831
3.7553988651778165
3.2508938485356484
3.4542602118332666
5.038171310593562
4.529755402349516
3.677181033140271
3.774953323187203
3.3056463309619306
4.322478147450021
3.258715631739403
3.587230526297094
3.6576265751308847
3.6850028163440256
3.387775054601353
4.1738642665786845
4.388963304681935
4.729210874045258
4.803517814480926
4.936488128944752
4.600151451183307
3.387775054601353
3.516834477463303
3.4112404042126165
3.188319582905612
3.1061908592661895
3.8297058056134845
3.7397552987703073
4.291191014635003
4.748765332054644
4.936488128944752
3.2626265233412806
4.455448461913848
3.5051018026576712
3.051438376839908
4.881735646518471
5.8594585469877885
6.751141832215806
5.7147555577183295
7.2360923908485875
5.843814980580279
5.808616956163384
6.684656674983892
3.512923585861426
3.207874040914999
3.4933691278520396
3.4112404042126165
3.2000522577112442
3.376042379795721
3.7241117323627986
3.5676760682877076
3.0866364012568033
3.6850028163440256
4.0995573261430165
3.180497799701858
3.0357948104323986
3.2508938485356484
3.254804740137526
3.747577081974062
3.7984186727984666
3.4972800194539166
3.301735439360053

In [21]:
outliers = pt.loc[np.abs((pt - mean) / std) > 3]
print(outliers)

Datetime
2004-03-11 03:00:00    1705.0
2004-03-11 04:00:00    1818.0
2004-03-11 05:00:00    1918.0
2004-03-11 06:00:00    1738.0
2004-03-12 03:00:00    1680.0
                        ...
2005-02-28 06:00:00    1665.0
2005-03-01 03:00:00    1791.0
2005-03-01 04:00:00    1804.0
2005-03-01 05:00:00    1727.0
2005-03-01 06:00:00    1677.0
Name: PT08.S3(NOx), Length: 111, dtype: float64

In [22]:
mask = pt.index.isin(outliers.index)
mask[:50]

array([False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True,  True,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [24]:
sns.distplot(pt, axlabel='PT08.S3(NOx)', label='original')
sns.distplot(pt[~mask], label='outliers removed')
plt.legend(loc='best')

C:\Users\user\anaconda3\lib\site-packages\seaborn\distributions.py:2557: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)
C:\Users\user\anaconda3\lib\site-packages\seaborn\distributions.py:2557: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)